

html {height: 100%;}

body {
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'Courier New', monospace;
}

a {
  color: white;
  text-decoration: none;
}

@keyframes greenpulse {
  0% {border-color:limegreen;}
  50% {border-color: green;}
  100% {border-color: limegreen;}

}

div {
  border-color: limegreen;
  border-width: 1px;
  border-style: solid;
  animation-duration: 4s;
  animation-name: greenpulse;
  animation-iteration-count: infinite;
}

h1 {
  margin-left: 20px;
}

h2 {
  margin-left: 40px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.content-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrwasm-body {
  padding: 10px 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#reloadButton {
    height: 30px;
    align-self: center;
}

#shaderToyContainer {
    display: flex;
}

canvas {
    width: 600px;
    height: 200px;
}

textarea {
    width: 600px;
    height: 200px;
    color: white;
    background-color: black;
}
